/* Estilos para dispositivos móveis (Mobile-First) */
.section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-img img {
  width: auto;
  height: auto;
  max-width: 300px; /* Para evitar imagens muito grandes em telas pequenas */
  border-radius: 10px;
}

.about-content {
  margin-top: 20px;
  text-align: center;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-content h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
}
